@font-face {
  font-family: 'Harmond';
  src: url(./public/fonts/Harmond-ExtraBoldExpanded.otf) format('opentype');
}

:root {
  --base-font: Harmond;
  --base-color: #f2b05e;
  --sec-color: #00d6bf;
  --alt-color: #ffc0bb;
  --light: #ebebeb;
  --dark: #040208;
  --duration: 300ms;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overscroll-behavior: none;
  background: var(--dark);
  height: 100vh;
  width: 100%;
  font-family: var(--base-font);
}

main {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.scrollable {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  will-change: transform;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  position: absolute;
  bottom: 15%;
  right: 10%;
  z-index: 5;
  color: var(--light);
}

p {
  position: absolute;
  top: 45%;
  left: -18%;
  font-size: 3rem;
  color: var(--base-color);
  transform: rotate(270deg);
}

/* p::before,
p::after {
  width: 100%;
  position: absolute;
  content: 'THREEJS SHADERS';
  transform: translate(-50%, -50%);
  z-index: -1;
}

p::before {
  top: 45.5%;
  left: -17.5%;
  color: var(--alt-color);
  animation: distort1 var(--duration) linear infinite;
}

p::after {
  top: 44.5%;
  left: -18%;
  color: var(--sec-color);
  animation: distort2 var(--duration) linear infinite;
}

@keyframes distort1 {
  0%    { top: 49.5%; left: 49.5%; }
  12.5% { top: 49.5%; left: 50%; }
  25%   { top: 49.5%; left: 50.5%; }
  37.5% { top: 50%; left: 50.5%; }
  50%   { top: 50.5%; left: 50.5%; }
  62.5% { top: 50.5%; left: 50%; }
  75%   { top: 50.5%; left: 49.5%; }
  87.5% { top: 50%; left: 49.5%; }
  100%  { top: 49.5%; left: 49.5%; }
}

@keyframes distort2 {
  0%    { top: 50.5%; left: 50.5%; }
  12.5% { top: 50%; left: 50.5%; }
  25%   { top: 49.5%; left: 50.5%; }
  37.5% { top: 49.5%; left: 50%; }
  50%   { top: 49.5%; left: 49.5%; }
  62.5% { top: 50%; left: 49.5%; }
  75%   { top: 50.5%; left: 49.5%; }
  87.5% { top: 50.5%; left: 50%; }
  100%  { top: 50.5%; left: 50.5%; }
} */

img {
  position: absolute;
  width: 60%;
  visibility: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
